:root {
  /* COLOR */
  --purple-7: rgb(198, 194, 96);
  --purple-70: rgb(231, 228, 251);
  --purple-80: rgb(8, 27, 117);
  --purple-9: rgb(173, 158, 235);
  --purple-from-component: rgb(198, 189, 255);
}
