<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page introuvable</title>
  <link rel="stylesheet" href="assets/css/reset.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
	<div class="message-404">
		<h2>Erreur 404</h2>
		<p>Oups, il n'y a rien ici ! :)</p>
		<a href="http://mychloe.io/" class="button">Retourner à l'accueil</a>
	</div>
  
</body>
</html>

