<script type="text/template" id="clients">
<!-- Contenu de la page clients -->
	<section class="main-content page-clients">
		<div class="row">
			<div class="col-md-4">
				<h2 class="red-title">Mes clients</h2>
			</div>
  			<div class="col-md-4 col-md-offset-4">
  				<ul class="filtre-user-pro-full">
  					<li class="red selected">
  						<p class="choice-filter  filtre-selected" data-id="name">Par nom</p>
  					</li>
  					<li>	
  						<p class="choice-filter" data-id="ville">Par ville</p>
  					</li>
  				</ul>
  			</div>
		</div>
		<div class="display-result-pool row">
            <div id="resultsList"></div>

			</div>
	</section>
</script>
