  <script type="text/template" id="home">
    <div class="main-content" id="home">
		<nav class="row menu-main menu-pad">
	  		<div class="logo col-md-2">
	  			 <a href="#"><img src="assets/svg/logo.svg"></a>

	  		</div>
	  		<div class="logo col-md-10">
		  		<ul class="menu-right">
		  			<li>
			  			<a href="#register" class="nav-btn-full">M'inscrire</a>
		  			</li>
		  			<li>
		  				<a href="#login" class=" nav-btn-grey nav-btn-full">Me connecter</a>
		  			</li>
		  		</ul> 	
	  		</div>
	  	</nav>
	  	<section class="home-img">
	  		<div class="wrap-home-img">
	  			<h1>Un coup d’oeil sur toutes vos piscines, au même endroit.</h1>
	  			<div class="btn-setting">
	  				<a href="#register"> 
		  				<button class="btn-full btn-nav">M'inscrire maintenant
		  				</button>
	  				 </a>
	  			</div>	  			
	  		</div>
	  	</section>
	  	<div class="global-wrap">
	  	<div class="row features-landing">
		  	<div class="col-md-6">
		  		<div class="wrap-illustration">
		  			<img src="assets/img/listing-client.jpg">
		  		</div>
		  	</div>
		  	<div class="col-md-6 wrap-content">
		  		<h1>Entretenez vos piscines facilement.</h1>
		  		<p>Grâce à la Chloé Box, les données de vos piscines sont récoltées automatiquement et affichées dans votre tableau de bord. Il n’a jamais été aussi simple d’entretenir un parc de piscines.</p>
		  	</div>
	  	</div>

	  	<div class="row features-landing">
		  	<div class="col-md-6">
		  		<div class="wrap-content">
		  			<h1>La bonne intervention, au bon moment.</h1>
		  			<p>Chloé vous présente intelligemment les piscines à traiter, par ordre de priorité. Ainsi, gagnez du temps en optimisant vos déplacements. Et le temps, c’est de l’argent.</p>
		  		</div>
		  	</div>
		  	<div class="col-md-6">
		  		<div class="wrap-illustration">
		  			<img src="assets/img/homepage-alertes.png">
		  		</div>
		  	</div>
	  	</div>
	  	
	  	<div class="row features-landing">
		  	<div class="col-md-6">
		  		<div class="wrap-illustration">
		  			<img src="assets/img/Page-profil-piscine-vue-client.png">
		  		</div>
		  	</div>
		  	<div class="col-md-6 wrap-content">
		  		<h1>Une relation client limpide.</h1>
		  		<p>Offrez la possibilité à vos clients de toujours avoir un oeil sur sa piscine et améliorez votre relation client en centralisant l’ensembles de leurs informations. </p>
		  	</div>
	  	</div>
	  	<div class="wrap-btn-landing">
	  				<a href="#register"> 
		  				<button class="btn-full btn-nav">M'inscrire maintenant
		  				</button>
	  				 </a>
	  	</div>
	  	</div>
	  	<footer>
	  		<div class="wrap-footer">
			  	<p>Il n’a jamais été aussi simple d’entretenir autant de piscines.</p>
			  	<img src="assets/img/chloe-flat.png">

			</div>
	  	<div class="blue-g">
	  		<p>© Copyright Chloé 2015</p>
	  	</div>
	  	</footer>
    </div>
  </script>

