<script type="text/template" id="myClients">

<!-- Contenu de la page clients -->
	<section class="main-content page-clients">
		<div class="row ">
			<div class="col-md-4">
				<h2 class="red-title">Mes clients</h2>
			</div>
  			<div class="col-md-4 col-md-offset-4">
  				<ul class="filtre-user-pro-full">
  					<li class="red selected">
  						<a href="#" class="filtre-selected">Par nom</a>
  					</li>
  					<li>	
  						<a href="#">Par ville</a>
  					</li>
  				</ul>
  			</div>
		</div>
		<div class="display-result-pool row">
			<h3 class="">Paris</h3>
				<div class="row">
					<div class="col-md-4 card-pool">
						<div class="card-result-filtre" style="background-image: url('assets/img/pool-test.jpg');">
							<div class="card-result-link-container">
								<a href="#" class="card-result-button button">Voir la fiche</a>
							</div>
						</div>
						<div class="card-result-name">
							<p>Sébastien Lebonbout</p>
							<small>51m3</small>
						</div>
					</div>
					<div class="col-md-4 card-pool">
						<div class="card-result-filtre" style="background-image: url('assets/img/pool-test.jpg');">
							<div class="card-result-link-container">
								<a href="#" class="card-result-button button">Voir la fiche</a>
							</div>
						</div>
						<div class="card-result-name">
							<p>Sébastien Lebonbout</p>
							<small>51m3</small>
						</div>
					</div>
					<div class="col-md-4 card-pool">
						<div class="card-result-filtre" style="background-image: url('assets/img/pool-test.jpg');">
							<div class="card-result-link-container">
								<a href="#" class="card-result-button button">Voir la fiche</a>
							</div>
						</div>
						<div class="card-result-name">
							<p>Sébastien Lebonbout</p>
							<small>51m3</small>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 card-pool">
						<div class="card-result-filtre" style="background-image: url('assets/img/pool-test.jpg');">
							<div class="card-result-link-container">
								<a href="#" class="card-result-button button">Voir la fiche</a>
							</div>
						</div>
						<div class="card-result-name">
							<p>Sébastien Lebonbout</p>
							<small>51m3</small>
						</div>
					</div>
					<div class="col-md-4 card-pool">
						<div class="card-result-filtre" style="background-image: url('assets/img/pool-test.jpg');">
							<div class="card-result-link-container">
								<a href="#" class="card-result-button button">Voir la fiche</a>
							</div>
						</div>
						<div class="card-result-name">
							<p>Sébastien Lebonbout</p>
							<small>51m3</small>
						</div>
					</div>
					<div class="col-md-4 card-pool">
						<div class="card-result-filtre" style="background-image: url('assets/img/pool-test.jpg');">
							<div class="card-result-link-container">
								<a href="#" class="card-result-button button">Voir la fiche</a>
							</div>
						</div>
						<div class="card-result-name">
							<p>Sébastien Lebonbout</p>
							<small>51m3</small>
						</div>
					</div>
				</div>
			</div>
	</section>

	
</script>