<script type="text/template" id="search">
	<section class="main-content page-clients page-search">
		<div class="search-open">
            <p class="search-open-content">Je recherche&nbsp;
				<form action="#" class="search-open-form">
				    <input type="text" id="searchForm" value="" placeholder="un client, une ville">
                </form>

			</p>

		</div>
        <section class="row ">
            <p class="title-result"><span class="red" ><span id="poolNumber">0</span> piscine<span class="plural"></span></span> trouvée<span class="plural">.</span></p>

            <div class="display-result-pool-search">
                <div id="results"></div>
            </div>
        </section>
	</section>
</script>